body {
    height: 100vh;
    background: -webkit-linear-gradient(170deg, #505590,#4a86c9,#2fbbfa);
    background: linear-gradient(170deg, #505590,#4a86c9,#2fbbfa);
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-section {
    margin-top: 120px !important;
    text-align: center;
    /* background-color: #343957;*/
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 500px !important;
    max-height: 50000px !important;
    width: 1200px !important;

}
