<% if (errors.length > 0) { %> 

<div class="row">
    <div class="col my-3 mensagem">
        <div class="alert alert-danger">
            <% errors.forEach(error => { %>

            <div><%= error %></div><br>

            <% }) %>
        </div>
    </div>
</div>

<% } %>

<% if (success.length > 0) { %>

    <div class="row">
        <div class="col my-3 mensagem">
            <div class="alert alert-success">
                <% success.forEach(success => { %>

                <div><%= success %></div><br>
    
                <% }) %>
            </div>
        </div>
    </div>
    
    <% } %>