<%- include('includes/head'); %>


<div class="container d-flex justify-content-center">

    <section class="container-section">

        <div class="display-1 text-center">ERRO 404!</div>
        <div class="lead text-center">A página que você buscou não existe</div>

    </section>
</div>
<%- include('includes/footer'); %>