<%- include('includes/head'); %>
<section class="container">

    <h1>

        <form action="/" method="POST">
            <!-- Csrf -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
            <label> Cliente </label>
            <input type="text" name="cliente" id="cliente">
            <button>Submit</button>
        </form>

    </h1>


</section>

<%- include('includes/footer'); %>